<div>
    <h3>{{entity.name}}</h3>
    <div>
        <!-- <h4>Stats</h4> -->
        <dl class="dl-horizontal">
            <dt>strength: </dt>
            <dd>{{entity.strength}}</dd>
            <dt>wisdom: </dt>
            <dd>{{entity.wisdom}}</dd>
            <dt>constitution: </dt>
            <dd>{{entity.constitution}}</dd>
            <dt>dexterity: </dt>
            <dd>{{entity.dexterity}}</dd>
            <dt>intelligence: </dt>
            <dd>{{entity.intelligence}}</dd>
            <dt>precision: </dt>
            <dd>{{entity.precision}}</dd>
            <dt>level: </dt>
            <dd>{{entity.level}}</dd>
        </dl>
        <p></p>
        <dl class="dl-horizontal">
            <dt>width: </dt>
            <dd>{{entity.w}}</dd>
            <dt>height: </dt>
            <dd>{{entity.h}}</dd>
        </dl>
        <p></p>
        <dl class="dl-horizontal">
            <dt>mana: </dt>
            <dd>{{entity.mana}}</dd>
            <dt>health: </dt>
            <dd>{{entity.health}}</dd>
            <dt>speed.x: </dt>
            <dd>{{entity.speed.x}}</dd>
            <dt>speed.y: </dt>
            <dd>{{entity.speed.y}}</dd>
            <dt>x: </dt>
            <dd>{{entity.x}}</dd>
            <dt>y: </dt>
            <dd>{{entity.y}}</dd>
        </dl>
    </div>
