<scene></scene>
<div class="container">
  <button class="btn btn-primary" (click)="resetScene()">Reset</button>
  <button class="btn btn-primary"
    [ngClass]="{ 'disabled': hasNoLog() }"
    (click)="toggleLog()"
    >Toggle Log</button>
  <div class="dropdown settings--dropdown" [ngClass]="{'open': dropdownIsOpen}">
    <button class="btn btn-default dropdown-toggle" (click)="toggleDropDown()">
      Spell list
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li *ngFor="let spell of spellList.spells"
            [ngClass]="{'disabled': spell == spellList.selected_spell}">
            <a href="#" (click)="selectSpell(spell)">{{spell.name}}</a>
        </li>
      <!-- <li role="separator" class="divider"></li> -->
    </ul>
  </div>
  <button class="btn btn-primary" (click)="castSpell()">Cast</button>
  <button class="btn btn-primary" (click)="togglePhysics()">
      <span *ngIf="isStop()">Stop</span>
      <span *ngIf="!isStop()">Play</span>
  </button>
  <log-panel></log-panel>
  <div style="display: flex; justify-content: space-between;">
      <entity-stats *ngFor="let entity of scene.entities"
                    [entity]="entity"></entity-stats>
  </div>
<div>
